.wrapper {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.user-info {
    &-name {
        font-size: 30px;
    }
    &-nick {
        font-family: monospace;
    }
    &-bio {
        &--link {
            text-decoration: underline;
            cursor: pointer;
            color: gray;
        }
    }
}

.buttons-container {
    display: flex;
}